<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/_bower_components/jquery/jquery.min.js"><\/script>')</script>
<!-- build:js({app,.tmp}) /js/script.js -->
<script defer src="js/h5bp-console.js"></script>
<script defer src="js/bootstrap-transition.js"></script>
<script defer src="js/bootstrap-scrollspy.js"></script>
<script defer src="js/bootstrap-modal.js"></script>
<script defer src="js/jquery.scrollTo.min.js"></script>
<script defer src="js/jquery.localScroll.min.js"></script>
<script defer src="js/jquery.viewport.min.js"></script>

<script defer src="js/mailchimp-validator.js"></script>
<script defer src="js/localscroll-init.js"></script>
<script defer src="js/fixed-nav.js"></script>
<script defer src="js/mobile-touch.js"></script>
<!-- endbuild -->
