/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
   v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
   html5doctor.com/html-5-reset-stylesheet/
   ========================================================================== */
   
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}



/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.4; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



/* ==|== Grid CSS =====================================================
   Blueprint CSS - http://www.blueprintcss.org/
   ========================================================================== */
.container {width:950px;margin:0 auto;}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.span-1, textarea.span-1 {width:18px;}
input.span-2, textarea.span-2 {width:58px;}
input.span-3, textarea.span-3 {width:98px;}
input.span-4, textarea.span-4 {width:138px;}
input.span-5, textarea.span-5 {width:178px;}
input.span-6, textarea.span-6 {width:218px;}
input.span-7, textarea.span-7 {width:258px;}
input.span-8, textarea.span-8 {width:298px;}
input.span-9, textarea.span-9 {width:338px;}
input.span-10, textarea.span-10 {width:378px;}
input.span-11, textarea.span-11 {width:418px;}
input.span-12, textarea.span-12 {width:458px;}
input.span-13, textarea.span-13 {width:498px;}
input.span-14, textarea.span-14 {width:538px;}
input.span-15, textarea.span-15 {width:578px;}
input.span-16, textarea.span-16 {width:618px;}
input.span-17, textarea.span-17 {width:658px;}
input.span-18, textarea.span-18 {width:698px;}
input.span-19, textarea.span-19 {width:738px;}
input.span-20, textarea.span-20 {width:778px;}
input.span-21, textarea.span-21 {width:818px;}
input.span-22, textarea.span-22 {width:858px;}
input.span-23, textarea.span-23 {width:898px;}
input.span-24, textarea.span-24 {width:938px;}
.append-1 {padding-right:40px;}
.append-2 {padding-right:80px;}
.append-3 {padding-right:120px;}
.append-4 {padding-right:160px;}
.append-5 {padding-right:200px;}
.append-6 {padding-right:240px;}
.append-7 {padding-right:280px;}
.append-8 {padding-right:320px;}
.append-9 {padding-right:360px;}
.append-10 {padding-right:400px;}
.append-11 {padding-right:440px;}
.append-12 {padding-right:480px;}
.append-13 {padding-right:520px;}
.append-14 {padding-right:560px;}
.append-15 {padding-right:600px;}
.append-16 {padding-right:640px;}
.append-17 {padding-right:680px;}
.append-18 {padding-right:720px;}
.append-19 {padding-right:760px;}
.append-20 {padding-right:800px;}
.append-21 {padding-right:840px;}
.append-22 {padding-right:880px;}
.append-23 {padding-right:920px;}
.prepend-1 {padding-left:40px;}
.prepend-2 {padding-left:80px;}
.prepend-3 {padding-left:120px;}
.prepend-4 {padding-left:160px;}
.prepend-5 {padding-left:200px;}
.prepend-6 {padding-left:240px;}
.prepend-7 {padding-left:280px;}
.prepend-8 {padding-left:320px;}
.prepend-9 {padding-left:360px;}
.prepend-10 {padding-left:400px;}
.prepend-11 {padding-left:440px;}
.prepend-12 {padding-left:480px;}
.prepend-13 {padding-left:520px;}
.prepend-14 {padding-left:560px;}
.prepend-15 {padding-left:600px;}
.prepend-16 {padding-left:640px;}
.prepend-17 {padding-left:680px;}
.prepend-18 {padding-left:720px;}
.prepend-19 {padding-left:760px;}
.prepend-20 {padding-left:800px;}
.prepend-21 {padding-left:840px;}
.prepend-22 {padding-left:880px;}
.prepend-23 {padding-left:920px;}
.border {padding-right:4px;margin-right:5px;border-right:1px solid #ddd;}
.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #ddd;}
.pull-1 {margin-left:-40px;}
.pull-2 {margin-left:-80px;}
.pull-3 {margin-left:-120px;}
.pull-4 {margin-left:-160px;}
.pull-5 {margin-left:-200px;}
.pull-6 {margin-left:-240px;}
.pull-7 {margin-left:-280px;}
.pull-8 {margin-left:-320px;}
.pull-9 {margin-left:-360px;}
.pull-10 {margin-left:-400px;}
.pull-11 {margin-left:-440px;}
.pull-12 {margin-left:-480px;}
.pull-13 {margin-left:-520px;}
.pull-14 {margin-left:-560px;}
.pull-15 {margin-left:-600px;}
.pull-16 {margin-left:-640px;}
.pull-17 {margin-left:-680px;}
.pull-18 {margin-left:-720px;}
.pull-19 {margin-left:-760px;}
.pull-20 {margin-left:-800px;}
.pull-21 {margin-left:-840px;}
.pull-22 {margin-left:-880px;}
.pull-23 {margin-left:-920px;}
.pull-24 {margin-left:-960px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1 {margin:0 -40px 1.5em 40px;}
.push-2 {margin:0 -80px 1.5em 80px;}
.push-3 {margin:0 -120px 1.5em 120px;}
.push-4 {margin:0 -160px 1.5em 160px;}
.push-5 {margin:0 -200px 1.5em 200px;}
.push-6 {margin:0 -240px 1.5em 240px;}
.push-7 {margin:0 -280px 1.5em 280px;}
.push-8 {margin:0 -320px 1.5em 320px;}
.push-9 {margin:0 -360px 1.5em 360px;}
.push-10 {margin:0 -400px 1.5em 400px;}
.push-11 {margin:0 -440px 1.5em 440px;}
.push-12 {margin:0 -480px 1.5em 480px;}
.push-13 {margin:0 -520px 1.5em 520px;}
.push-14 {margin:0 -560px 1.5em 560px;}
.push-15 {margin:0 -600px 1.5em 600px;}
.push-16 {margin:0 -640px 1.5em 640px;}
.push-17 {margin:0 -680px 1.5em 680px;}
.push-18 {margin:0 -720px 1.5em 720px;}
.push-19 {margin:0 -760px 1.5em 760px;}
.push-20 {margin:0 -800px 1.5em 800px;}
.push-21 {margin:0 -840px 1.5em 840px;}
.push-22 {margin:0 -880px 1.5em 880px;}
.push-23 {margin:0 -920px 1.5em 920px;}
.push-24 {margin:0 -960px 1.5em 960px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:left;position:relative;}
div.prepend-top, .prepend-top {margin-top:60px;}
div.prepend-top-half, .prepend-top-half {margin-top:30px;}
div.append-bottom, .append-bottom {margin-bottom:60px;}
div.append-bottom-half, .append-bottom-half {margin-bottom:30px;}
.box {padding:1.5em;margin-bottom:1.5em;background:#e5eCf9;}
/* ==|== Font Declarations ===================================================== */

@font-face {
    font-family: 'CantarellRegular';
    src: url('../fonts/Cantarell-Regular-webfont.eot');
    src: url('../fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cantarell-Regular-webfont.svg#CantarellRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'KenyanCoffeeRegular';
    src: url('../fonts/kenyan_coffee_rg-webfont.eot');
    src: url('../fonts/kenyan_coffee_rg-webfont.eot?iefix') format('eot'),
         url('../fonts/kenyan_coffee_rg-webfont.woff') format('woff'),
         url('../fonts/kenyan_coffee_rg-webfont.ttf') format('truetype'),
         url('../fonts/kenyan_coffee_rg-webfont.svg#webfontiqJBGWWF') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ==|== Primary Styles =====================================================
   Author: Michael foley
   ========================================================================== */

*,:after,:before{
  box-sizing:border-box
}

a, a:visited { 
	color: #5dbfc8; 
	text-decoration:none;
}
a:link { 
	-webkit-tap-highlight-color: #bc1040;
}
a:hover, a:focus { 
	text-shadow: none; 
	background: #bc1040; 
	color:#e8ebf3;
}
a:hover, a:active { 
	outline: none; 
}
a:active, input.button:active { 
	outline: 0; 
	position: relative; 
	top: 1px; 
}

::-moz-selection { 
	text-shadow: none; 
	background: #bc1040; 
	color:#e8ebf3; 
}
::selection { 
	text-shadow: none; 
	background: #bc1040; 
	color:#e8ebf3; 
}
body { 
	background: #1f2437; 
	background:#1f2437 url('../img/bg2.jpg') repeat; 
	font-family: 'CantarellRegular', 'Helvetica Neue', 'Helvetica', 'Arial', Sans-serif; 
	color:#e8ebf3;
	font-size:1em;
}
.border_top, .border_bottom, .border_all {
	padding-top:80px; 
	padding-bottom:60px;
	border-color:#323955;
	border-color:rgba(75,86,128,.6);
	border-style:solid;
}
.border_left, .border_right {
	border-color:#796f67;
	border-color:rgba(207,194,135,.6);
	border-style:solid;
}
.border_top {border-top-width:10px;}
.border_bottom {border-bottom-width:10px;}
.border_left {border-left-width:10px;padding-left:40px; margin-left:40px;}
.border_right {border-right-width:10px;margin-right:40px; padding-right:40px;}
.border_all {border-width:10px; padding:30px 10px;}
.uppercase {text-transform:uppercase;}


#container { margin-bottom: 24px; margin-top:40px; position:relative; }

header {
	margin-top:80px;
	font-family:'ChunkFiveRegular', Georgia, "Times New Roman", Times, serif;
	text-align:right;
}
header .location { 
	font-size: 1.3em; 
	color:#bc1040; 
	text-transform:uppercase;
}
header .title { 
	font-size:4.6em; 
	line-height:1.4em; 
}
header .date { 
	font-size:2.9em; 
	line-height:0.75em;
	color:#a18868;
	margin-bottom:30px;
}
#header_image {
	background: url('../img/sprite.jpg') -360px 0 no-repeat;
	height:494px;
}
nav {
	padding: 10px 0;
	margin-top: 80px;
	border-top-width:10px;
	border-bottom-width:10px;
	border-color:#323955;
	border-color:rgba(75,86,128,.6);
	border-style:solid;
}
nav ul {
	margin:0 0 0 5px; 
	padding:0;
}
nav li {
	list-style:none;
	float:left;
	font-family:'KenyanCoffeeRegular', 'Arial Narrow', Arial, Helvetica, sans-serif; 
	font-size:2.5em;
	line-height:1em;
	color:#399FA8;
}
nav li a, nav li a:link, nav li a:visited{
	text-decoration:none;
	border:0;
	display:inline-block;
	margin:0 30px;
	color:#399FA8;
}
nav li a:hover, nav li a:focus { 
	color: #5dbfc8;
	background: transparent; 
}
nav .title, .scroll-top, .floating_nav {
	display:none;
}
.floating_nav .scroll-top {
	display:inline;
}

.floating_nav .scroll-txt {
	margin:0 60px 0 0;
}
.floating_nav .scroll-arrow:hover, .floating_nav .scroll-arrow:focus {
	background-position:0 -34px;
}
.floating_nav {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:1001;
	padding:10px 0;
	margin:0;
	border:0;
	background-color:#323955;
	background-color:rgba(56,64,96,0.9);
}
.floating_nav .float_inner{
	width:950px;
	margin:0 auto;
}
.floating_nav .float_inner .title {
	font-family:'ChunkFiveRegular', Georgia, "Times New Roman", Times, serif;
	font-size:2em;
	float:left;
	margin-top:4px;
	display:inline;
}
.floating_nav .float_inner .title a, .floating_nav .float_inner .title a:hover, .floating_nav .float_inner .title a:focus, .floating_nav .float_inner .title a:active, .floating_nav .float_inner .title a:link, .floating_nav .float_inner .title a:visited {
	color:#e8ebf3;
	background:transparent;
}
.floating_nav ul {
	float:right;
}
.floating_nav li {
	font-size:2.2em;
}
blockquote {
	color:#a18868;
	font-size:1.8em;
	margin:0;
}
blockquote span {
	font-size:.9em;
	font-style:normal;
	line-height:2.5em;
}
#main { 
	margin-top:20px;
}
#main .title { 
	font-family:'KenyanCoffeeRegular', 'Arial Narrow', Arial, Helvetica, sans-serif; 
	font-size:2.4em;
	margin-bottom:13px;
}
#main .title span {
	color:#bc1040; 
}
#main p {
	padding:0 0 15px 0;
	margin:0;
}
#main p.event-title {
	padding-bottom:7px;
	font-size:1.2em;
	font-weight:bold;
	color:#a18868;
}
#main .date {
	text-transform:uppercase;
	font-weight:bold; 
	padding-bottom:2px
}
#main .time {
	text-transform:uppercase;
	font-weight:bold; 
	padding-bottom:2px;
	font-size:.9em;
}

#dance .demo {
  margin-top: -50px;
}
.video_links {
	display:none;
}
#mercantile, #stepping_out {
	display:block;
	float:left;
	text-indent:-9999px;
	height:127px;
	padding:0 0 30px 0;
}
#mercantile {
	width:179px;
	background:url('../img/sprite.jpg') -500px -500px no-repeat;
}
#stepping_out {
	width:478px;
	background:url('../img/sprite.jpg') 0px -500px no-repeat;
	margin-left:20px;
}
.callout_box {
	background: #399FA8;
	padding: 8px 17px 6px 17px;
}
.callout {
	font-family: 'KenyanCoffeeRegular', 'Arial Narrow', Arial, Helvetica, sans-serif; 
	font-size: 1.9em;
	display: inline-block;
	margin-bottom: 10px;
}
.callout span{
	color: #1f2437;
}
.callout a, a.callout {
	text-decoration:none;
	border:0;
	color:#e8ebf3; 
}
.large_text, #main p.large_text {
	font-size:1.2em;
}
.sponsors img {
	float:left;
	margin-right:40px;
}
#mj {
	background: url('../img/sprite.jpg') 0 0 no-repeat;
	height:385px;
	margin-bottom:-60px;
	margin-top:-30px;
}
#main .sponsors p {
	clear:both;
	font-size:1em;
}

#schedule .title {
	display:inline-block;
}
.cal {
	background: url('../img/sprite.jpg') -316px 0 no-repeat;
	height:31px;
	padding-left:33px;
	margin-left:5px;
	line-height:2.5em;
	display: inline-block;
}

.cal:hover, .cal:focus {
	background:url('../img/sprite.jpg') -316px -30px no-repeat;
}
.cal:hover span {
	background: #bc1040;
}
#dance iframe {margin-top:10px;}


/* ==|== Mail Chimp ======================================== */

#mc_embed_signup { 
	overflow: hidden;
	margin-top:7px;
}
#mc_embed_signup fieldset {
	margin:0;
	padding:0;
	display: block;
	overflow: hidden;
	float: left;
	border:0;
}
#mc_embed_signup input[type=email] {
	width: 460px;
	border: solid 1px #d0d0d0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 7px;
	font-size: 13px;
	line-height: 1;
	margin: 0;
}
#mc_embed_signup input[type=email].mce_inline_error {
	border-color: #bc1040;
	background: #fcdfe7;
	font-weight:normal;
}

#mce-responses {
  position:fixed; 
  top:0; 
  left:0; 
  width:100%; 
  z-index:10001
}
div#mce-error-response, div#mce-success-response {
	background:#e8ebf3;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:1001;
}
div#mce-error-response p, div#mce-success-response p {
	padding:20px 40px 0px 40px;
	margin:0;
	text-align:center;
	font-size: 1.7em; 
	color:#bc1040;
}
div#mce-success-response p {
	color:#399FA8;	
}
div.mce_inline_error {display:none !important;}
#mc_embed_signup h1, #mc_embed_signup h4 {
	text-align: center;
}
#mc-embedded-subscribe-form {
	overflow: hidden;
	clear: both;
	padding:7px;
	background: #2c324a;
	background: -moz-linear-gradient(top, #323955 0%, #2c324a 50%, #262b3f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323955), color-stop(50%,#2c324a), color-stop(100%,#262b3f));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

a.mce-button {
	display: block;
	border: solid 1px #1f2437;
	background: #2b324d;
	background: -moz-linear-gradient(top, #313958 0%, #2b324d 50%, #313958 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313958), color-stop(50%,#2b324d), color-stop(100%,#313958));
	font: 13px/30px 'CantarellRegular', 'Helvetica Neue', 'Helvetica', 'Arial', Sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
	padding: 0 13px;
	text-shadow: 0 -1px 0 #444f78;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: right;
	text-decoration:none;
}
a.mce-button:not(.inactive):hover {
	border-color: #1f2437;
	background: #313958;
	background: -moz-linear-gradient(top, #2b324d 0%, #313958 50%, #2b324d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b324d), color-stop(50%,#313958), color-stop(100%,#2b324d));
}
a.mce-button:not(.inactive):focus{
	border-color: #191d2c;
}
a.mce-button:not(.inactive):active {
	background: #252b42;
	background: -moz-linear-gradient(top, #1f2437 0%, #252b42 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f2437), color-stop(100%,#252b42));
	
}
.mce-info, p.mce-info {
	background-color:transparent;
	border:0;
	padding: 10px 7px;
	text-align: left;
	display: block;
	overflow: hidden;
	clear: both;
	font-size:.75em !important;
}


/* ==|== FOOTER ======================================== */
footer {
	font-size:.77em; 
	padding-bottom:30px;
	text-align:center;
}
footer a, footer a:link, footer a:visited {
	color:#399FA8;
}

footer a:hover, footer a:focus { 
	text-shadow: none; 
	background: #bc1040; 
	color:#e8ebf3; 
}






.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}



.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:visited {
  color: #333333;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
/* ==|== MODAL ======================================== */
.modal-open .modal .dropdown-menu {
  z-index: 2050;
}

.modal-open .modal .dropdown.open {
  *z-index: 2050;
}

.modal-open .modal .popover {
  z-index: 2060;
}

.modal-open .modal .tooltip {
  z-index: 2080;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 50%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-body a {
  background: none;
  color:#bc1040;
} 

.modal-body a:hover {
  text-decoration: underline;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal {
  color:#1f2437;
}
.modal p {
  margin-bottom:10px
}
.modal p:last-child {
  margin-bottom:0;
}
.modal .modal-link {
  color:#bc1040;
}
.modal .modal-link:hover {
  color:#fff;
}
.modal h3 {
  font-size: 20px;
  font-weight: bold;
}



/* ==|== no @font-face fixes ========================================
This is for when modernizr recognizes that font-face is not supported
   ========================================================================== */

.no-fontface body {
	font-size:1.24em;
}

.no-fontface nav li, .no-fontface .floating_nav li {
	font-size:1.6em;
}
.no-fontface .floating_nav li {
	margin-top:5px;
}
.no-fontface header {
	font-size:.9em;
}
.no-fontface header .title { 
	line-height:1.4em !important; 
}
.no-fontface #main .title {
	font-size:1.5em;
}
.no-fontface .floating_nav .float_inner .title {
	font-size:1.6em;
}
.no-fontface .callout { 
	font-size:1.3em;
}
.no-fontface #main p.event-title {
	font-size:1em;
}
.no-fontface .large_text, .no-fontface #main p.large_text {
	font-size:1em !important;
}
.no-fontface .mce-info, .no-fontface p.mce-info {
	font-size:.6em;
}
.no-fontface blockquote {
	font-size: 1.5em;
}
.no-fontface .cal {
	font-size:.8em;
}

/* ==|== ie fixes ========================================
   These are where IE fixes go
   ========================================================================== */
.ie6 .floating_nav, .ie7 .floating_nav {
	background-color:#323955 !important;
}
.ie6 #quote, .ie7 #quote {
	padding-bottom:0 !important;
	margin-bottom:0 !important;
}
.ie6 #schedule .title, .ie7 #schedule .title {
	width:180px;
	display:block;
	float:left;
}

.ie6 #schedule a, .ie7 #schedule a {
	display:block;
	float:left;
	margin-top:10px;
}
.ie6 #mc-embedded-subscribe-form {
	background:transparent;
}

.ie6 .floating_nav {
	position:absolute;
}














/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.nowrap {
  white-space: nowrap;
}



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media (max-width: 767px) {
  .modal {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: auto;
  }
}   

@media screen and (max-width: 480px) and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
header .location { 
	font-size: .8em; 
}
header .title { 
	font-size:2.8em; 
	line-height:.8em;
}
header .date { 
	font-size:2.2em;
}
}

@media screen and (max-width: 480px) and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

header .location { 
	font-size: 1.2em; 
}
header .title { 
	font-size:4em; 
	line-height:1em;
}
#main p, #main p.large_text, #main .sponsors p {
	font-size:.7em;
}
footer {
	font-size:.6em;
}
}

@media screen and (max-width: 480px) {


.modal {
  top: 10px;
  right: 10px;
  left: 10px;
}
.modal-header .close {
  padding: 10px;
  margin: -10px;
}

.container {
	width: auto;
	margin: 0 15px;
}
.column,.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,.span-19,.span-20,.span-21,.span-22,.span-23,.span-24 {
	float:none;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	width:100%;
}
#header_image,iframe,.cal,#quote,nav,#mark_cal,#coverage,#wpix,.coverage {
	display:none !important;
}
.border_left,.border_right {
	border:0;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
}
.border_top,.border_bottom,.border_all {
	padding-top:40px;
	padding-bottom:30px;
}
.border_bottom {
	border-bottom-width:0;
	padding:10px 0 0 0;
}
.prepend-top {
	padding:0;
	margin:20px 0 !important;
}
.prepend-top-half {
	padding:0;
	margin:0 !important;
}
.last-schedule {
	margin:0 !important;
}
header {
	margin-top:20px;
	text-align:left;
}
header .title {
	padding:20px 0;
}
#main p {
	padding-bottom:20px;
}
#main .title {
	background-color:#323955;
	background-color:rgba(75,86,128,.6);
	padding:5px 10px;
	margin-right:15px;
	width:100%;
	cursor:pointer;
	font-size:2em;
}
#main .time p {
	padding-bottom:5px;
	display: inline;
}
#dance .demo {
  margin-top: 0px;
}
#main article .title {
	background:transparent;
	padding-left:0;
}
header .date {
	padding-bottom:70px;
}
article.reveal {
	display:none;
}
#mercantile,#stepping_out {
	display:block;
	float:none;
	text-indent:0;
	height:30px;
	background:0;
	margin:0 !important;
	padding:0;
	font-size:1.3em;
	width:100%;
}
#stepping_out {
	padding:0 0 30px 0;
}
.video_links  {
	display:inline;
}

#mc-embedded-subscribe-form {
  margin-bottom: 15px;
}
#mc_embed_signup input[type=email] {
  width: 100%;
  margin-bottom: 10px;
}
#mc_embed_signup fieldset,
a.mce-button {
  float: none;
}
}




@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
